/* styles.css */

h1, h2 {
    color: darkolivegreen;
    background-color: lightgreen;
    text-align: center;
    font-family: Verdana, Helvetica, sans-serif;
  }

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

p, ul, ol {
  font-family: Verdana, Helvetica, sans-serif;
}

.links {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 24px;
}
  
  